.show { display: block !important; }
.hidden { display: none !important; visibility: hidden !important; }
.invisible { visibility: hidden; }
.display-inline-block{display: inline-block;}
.float-right{float: right;}
.float-left{float: left;}
.list-style-none{
    list-style: none;
}
.list-style-none>li{
    padding-left: 5px;
    display: inline-block;
}
.reminder{
    position: fixed;
    left: 50%;
    top: 70%;
    color: #FFC107;
    font-size: 16px;
    display: none;
}

.minButton{
    padding: 7px;
}
#myCarousel div{
    padding: 0px;
    margin: 0px;
}
