<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录验证</title>
<link rel="stylesheet" href="/resources/Bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/resources/css/login/zhiFuBaoEnroll.css">
</head>
<body>
    <div class="container content fade">
        <h3 class="bottom top">完整账号信息</h3>
        <div class="row bottom top">
          <div class="col-md-1">
            <span>当前头像</span>
          </div>
        </div>
        <div class="row bottom top">
          <div imageId="" class="col-md-3">
            <img th:src="${serverResponse.data.headPictureSrc}" th:if="${!#strings.isEmpty(serverResponse.data) && serverResponse.data.headPictureSrc!=null}" class="img-thumbnail headPortrait"/>
          </div>
          <div class="col-md-8">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">用户名</span>
                </div>
                <input type="text" class="form-control userName" placeholder="3~6个字符" th:value="${serverResponse.data.userName}" th:if="${!#strings.isEmpty(serverResponse.data)}">
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button" id="buttonName">重填</button>  
                </div>
              </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">密码</span>
                  </div>
                <input type="text" class="form-control password" placeholder="6~10个字符">
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button" id="buttonPassword">重填</button>  
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">邮箱</span>
                  </div>
                <input type="text" class="form-control mail" placeholder="填写的邮箱会与账号绑定">
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button" id="buttonMail">重填</button>  
                </div>
            </div>
            <input class="userId" type="hidden" th:value="${serverResponse.data.userId}" th:if="${!#strings.isEmpty(serverResponse.data)}">
            <div class="input-group bottom top">
              <div class="custom-file">
                <input type="file" class="custom-file-input crowd_file">
                <label class="custom-file-label" for="inputGroupFile01">若要修改头像，请选择文件</label>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row bottom top">
          <div class="col-md-12">
            <button type="button" class="btn btn-large btn-block btn-light submit">提交</button>
          </div>
        </div>
    </div>

   <!-- 模态声明，show 表示显示 -->
  <div class="modal fade" data-backdrop='true' id="myModal" tabindex="-1">
    <!-- 窗口声明 -->
    <div class="modal-dialog">
        <!-- 内容声明 -->
        <div class="modal-content">
          <!-- 头部 -->
          <div class="modal-header">
      <h4 class="modal-title">系统提示</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <!-- 主体 -->
          <div class="modal-body">
              <p></p>
          </div>
        </div>
      </div>
  </div>

    <script type="text/javascript" src="/resources/js/login/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/popper.js"></script>
    <script type="text/javascript" src="/resources/Bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/resources/js/bs-custom-file-input.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
          var status = /*[[${serverResponse.status}]]*/ 0;
          if(status == 0){
              window.location.replace("/resources/index.html");
          }else{
              $(".content").removeClass("fade");
          }
        });

        $("#buttonName").click(function(){
          $(".userName").val("");
        })
        $("#buttonPassword").click(function(){
          $(".password").val("");
        })
        $("#buttonMail").click(function(){
          $(".mail").val("");
        })
        
        $(".submit").click(function(){
            //验证邮箱正则
            var re = /^(([^()[\]\\.,;:\s@\"]+(\.[^()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if($(".userName").val() == "" || $(".userName").val().length < 3 || $(".userName").val().length > 6){
              $(".modal-body p").html("用户名不能为空，且长度大于等于三个字符，小于等于六个字符");
              $("#myModal").modal('show');
              return;
            }else if($(".password").val() == "" || $(".password").val().length < 6 || $(".password").val().length > 10){
              $(".modal-body p").html("密码不能为空，且长度大于等于六个字符，小于等于十个字符");
              $("#myModal").modal('show');
              return;
            }else if(! re.test($(".mail").val())){
              $(".modal-body p").html("邮箱错误");
              $("#myModal").modal('show');
              return;
            }

            if($(".headPortrait").parent().attr("imageId") == ""){
                let url = $(".headPortrait").attr("src");
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url);
                xhr.responseType = 'blob';
                xhr.onload = function() {
                    var content = xhr.response;
                    var blob = new Blob([content]);//blob.type=''
                    var file2 = new File([blob], '支付宝用户头像.png', {type: 'image/png'});
                    let formData = new FormData();
                    formData.append('crowd_file',file2 );
                    $.ajax({
                        url:'/api/post/uploadImg',
                        dataType:'json',
                        type:'POST',
                        async: false,
                        data: formData,
                        contentType : false, // 不要设置Content-Type请求头
                        processData : false, // 使数据不做处理
                        success: function(data){
                            enroll(data.data.id);
                        }
                    });          
                };
                xhr.send();
            }else{
                enroll($(".headPortrait").parent().attr("imageId"));
            }
            
        });
        function enrollVerification (uname){   
            var t = setInterval(function(){
              $.ajax({
                  url: "/api/user/enrollVerification",
                  type: "get",
                  data: "userName="+uname,
                  dataType:"json",
                  success:function(data){
                    if(data.status == 0){
                        $(".modal-body p").html(data.msg);
                        $("#myModal").modal('show');
                        setTimeout(function(){
                          window.location.replace("/resources/index.html");
                        },3000);
                    }else if(data.status == 1){
                        $(".modal-body p").html(data.msg);
                        $("#myModal").modal('show');
                    }else if(data.status == 2){
                        $(".modal-body p").html(data.msg);
                        $("#myModal").modal('show');
                        clearInterval(t);
                    }
                  }
              });
            },1000);
        };

        $(".crowd_file").change(function(){
            upload();        
        });
        function upload(){
            var crowd_file = $('.crowd_file')[0].files[0];
            var formData = new FormData();
            formData.append("crowd_file",$('.crowd_file')[0].files[0]);
            $.ajax({
                url:'/api/post/uploadImg',
                dataType:'json',
                type:'POST',
                async: false,
                data: formData,
                contentType : false, // 不要设置Content-Type请求头
                processData : false, // 使数据不做处理
                success: function(data){
                    $(".headPortrait").attr("src",data.data.src);
                    $(".headPortrait").parent().attr("imageId",data.data.id);
                }
            });
        }
        function enroll(imgId){
            //提交注册请求
            $.ajax({
                url: "/api/user/zhiFuBaoEnrollHold",
                type: "post",
                data: "a.userId="+$(".userId").val()+"&a.userName="+$(".userName").val()+"&a.password="+$(".password").val()+"&a.email="+$(".mail").val()+"&a_f.headPictureId="+imgId,
                dataType:"json",
                success: function(data){
                    if(data.status == 0){
                        $(".modal-body p").html(data.msg);
                        $("#okbtn").addClass("enrollVerification");
                        $("#okbtn").attr("uname",data.data);
                        $("#myModal").modal('show');
                        setTimeout(function(){
                        enrollVerification(data.data);
                        },3000);
                    }else if(data.status == 1){
                        $(".modal-body p").html(data.msg);
                        $("#myModal").modal('show');
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
          bsCustomFileInput.init()
          var btn = document.getElementById('btnResetForm')
          var form = document.querySelector('form')
        });
    </script>
</body>
</html>