<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwj.tieba.dao.CommentMapper">
    <sql id="Base_Column">
        CommentId,PostId,UserId,Content,Praise,EnrollDate,UpdateDate
    </sql>
    <resultMap id="BaseResultMap" type="com.hwj.tieba.entity.Comment">
        <id property="commentId" column="CommentId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="postId" column="PostId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="userId" column="UserId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="content" column="Content" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="praise" column="Praise" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="enrollDate" column="EnrollDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateDate" column="UpdateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <select id="latestCommentDate" resultType="java.util.Map">
        SELECT PostId AS postId,MAX(EnrollDate) AS `latestCommentDate`
        FROM `comment` 
        WHERE PostId IN
        <foreach collection="postIdList" item="postIdList" open="(" close=")" separator=",">
            #{postIdList}
        </foreach>
        GROUP BY PostId
    </select>

    <select id="commentCount" resultType="java.util.Map">
        SELECT PostId AS postId,COUNT(CommentId) AS `count`
        FROM `comment`
        WHERE PostId IN
        <foreach collection="postIdList" item="postIdList" open="(" close=")" separator=",">
            #{postIdList}
        </foreach>
        GROUP BY PostId
    </select>

</mapper>