<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwj.tieba.dao.ReplyMapper">
    <sql id="Base_Column">
        ReplyId,CommentId,UserId,Content,PostId,PageNumber,EnrollDate,UpdateDate
    </sql>
    <resultMap id="BaseResultMap" type="com.hwj.tieba.entity.Reply">
        <id property="replyId" column="ReplyId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="commentId" column="CommentId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="userId" column="UserId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="content" column="Content" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="postId" column="PostId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="pageNumber" column="PageNumber" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="enrollDate" column="EnrollDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateDate" column="UpdateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <select id="queryReplyListByCommentId" parameterType="com.hwj.tieba.entity.Comment" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column"/>
        FROM reply
        WHERE CommentId IN
        <foreach collection="commentList" item="commentList" open="(" close=")" separator=",">
            #{commentList.commentId}
        </foreach>
    </select>


    <insert id="insertReply" parameterType="com.hwj.tieba.entity.Reply">
        INSERT INTO reply
        (<include refid="Base_Column"/>)
        VALUES
        (#{reply.replyId},#{reply.commentId},#{reply.userId},#{reply.content},#{reply.postId},#{reply.pageNumber},#{reply.enrollDate},#{reply.updateDate})
    </insert>



</mapper>