<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwj.tieba.dao.SubscribeMapper">
    <sql id="Base_Column">
        ID,TypeID,ObjectID,UserID,EnrollDate,UpdateDate
    </sql>
    <resultMap id="BaseResultMap" type="com.hwj.tieba.entity.Subscribe">
        <id property="id" column="ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="typeId" column="TypeID" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="objectId" column="ObjectID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="userId" column="UserID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="enrollDate" column="EnrollDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateDate" column="UpdateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <select id="querySubscribeByUserIdAndTypeId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"></include>
        FROM subscribe
        WHERE
        UserID = #{userId}
        AND
        TypeID = #{typeId}
    </select>

    <select id="querySubscribeByObjectIdAndUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"></include>
        FROM subscribe
        WHERE
        ObjectId = #{objectId}
        AND
        UserID = #{userId}
    </select>

    <delete id="deleteSubscribeByObjectIdAndUserId">
        DELETE
        FROM subscribe
        WHERE
        ObjectID = #{objectId}
    </delete>

    <insert id="insertSubscribe" parameterType="com.hwj.tieba.entity.Subscribe">
        INSERT INTO
        subscribe
        (<include refid="Base_Column"></include>)
        VALUES
        (#{id},#{typeId},#{objectId},#{userId},#{enrollDate},#{updateDate})
    </insert>


</mapper>