.blackUserList .row{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1px;
    padding-right: 1px;
}
.blackUserList .col{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1px;
    padding-right: 1px;
}
.blackUserList .list-group-item{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1px;
    padding-right: 1px;
}