<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwj.tieba.dao.AccountInfoMapper">
    <sql id="Base_Column">
        UserID,Age,Introduce,HeadPictureID,BackgroundPictureID,EXP,EnrollDate,UpdateDate
    </sql>
    <resultMap id="BaseResultMap" type="com.hwj.tieba.entity.AccountInfo">
        <id property="userId" column="UserID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="age" column="Age" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="introduce" column="Introduce" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="headPictureId" column="HeadPictureID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="backgroundPictureId" column="BackgroundPictureID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="exp" column="EXP" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result property="enrollDate" column="EnrollDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateDate" column="UpdateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <insert id="insertAccountInfo" parameterType="com.hwj.tieba.entity.AccountInfo">
        INSERT INTO
        account_info
        (<include refid="Base_Column"/>)
        VALUES
        (#{userId},#{age},#{introduce},#{headPictureId},#{backgroundPictureId},#{exp},#{enrollDate},#{updateDate})
    </insert>

    <select id="queryAccountInfoList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"/>
        FROM
        account_info
        <where>
            UserID IN 
            <foreach collection="userIdList" item="userIdList" open="(" close=")" separator=",">
                #{userIdList}
            </foreach>
        </where>
    </select>

    <select id="queryAccountInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"/>
        FROM
        account_info
        <where>
            UserID = #{userId}
        </where>
    </select>

    <update id="updateUserExp" parameterType="com.hwj.tieba.entity.AccountInfo">
        UPDATE account_info
        SET EXP = #{exp} , UpdateDate = #{updateDate}
        WHEN UserID = #{userID}
    </update>

    <update id="updateAccountExp">
        UPDATE account_info info_a,
        (SELECT EXP FROM account_info WHERE UserID = #{userId}) info_b
        SET info_a.EXP = info_b.EXP + #{increaseExp}
        WHERE info_a.UserID = #{userId};
    </update>

    <update id="updateAccountInfoByUserId" parameterType="com.hwj.tieba.entity.AccountInfo">
        UPDATE account_info
        SET Introduce = #{introduce}, HeadPictureID = #{headPictureId}
        <if test="backgroundPictureId != null">
            , BackgroundPictureId = #{backgroundPictureId}
        </if>
        WHERE UserID = #{userId}
    </update>
</mapper>