<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwj.tieba.dao.AccountMapper">
    <sql id="Base_Column">
        UserID,RoleID,UserName,Email,Phone,`Password`,EnrollDate,UpdateDate
    </sql>
    <resultMap id="BaseResultMap" type="com.hwj.tieba.entity.Account">
        <id property="userId" column="UserID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="roleId" column="RoleID" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="userName" column="UserName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="email" column="Email" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="phone" column="Phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="password" column="Password" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="enrollDate" column="EnrollDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result property="updateDate" column="UpdateDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <select id="queryAccountByAccountAndPassword" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column"></include>
        FROM account
        WHERE
        (UserName = #{accountNumber} OR Email = #{accountNumber})
        AND
        `Password` = #{md5Password}
    </select>

    <select id="queryAccount" parameterType="com.hwj.tieba.entity.Account" resultMap="BaseResultMap">
        SELECT
        UserID,RoleID,UserName,Email,EnrollDate
        FROM account
        <where>
            <if test="userId != null" >
                AND UserId = #{userId}
            </if>
            <if test="userName != null" >
                AND UserName = #{userName}
            </if>
            <if test="email != null" >
                OR Email = #{email}
            </if>
        </where>
    </select>

    <select id="queryAccountList" parameterType="com.hwj.tieba.entity.Account" resultMap="BaseResultMap">
        SELECT
        UserID,RoleID,UserName,Email,EnrollDate
        FROM account
        <where>
            UserID IN
            <foreach collection="accountList" item="accountList" open="(" close=")" separator=",">
                #{accountList.userId}
            </foreach>
        </where>
    </select>

    <insert id="insertAccount" parameterType="com.hwj.tieba.entity.Account">
        INSERT INTO
        account
        (<include refid="Base_Column"></include>)
        VALUES
        (#{userId},#{roleId},#{userName},#{email},#{phone},#{password},#{enrollDate},#{updateDate})
    </insert>

    <update id="updateUserByUserId" parameterType="com.hwj.tieba.entity.Account">
        UPDATE account
        SET
        <if test="userName != null">
            UserName = #{userName}
        </if>
        <if test="roleId != null">
            ,RoleID = #{roleId}
        </if>
        WHERE UserID = #{userId}
    </update>




</mapper>